discord.py
python-dotenv
wavelink
httpx
beautifulsoup4
websockets
pygelbooru
pillow
pydantic
openai
imagetext-py
Flask
pycryptodome
motor
yt-dlp
ffmpeg-python
lxml
pydub
git+https://github.com/Xtr4F/PyCharacterAI
curl-cffi==0.6.2